APP_MODE = PROD

QUOTATION_INFORMER_HOST = 88.198.218.83
QUOTATION_INFORMER_PORT = 55001

DATABASE_HOST     = 192.168.100.11
DATABASE_PORT     = 3306
DATABASE_USERNAME = webtrader
DATABASE_PASSWORD = webtrader
DATABASE_NAME     = webtrader

# For testing as a separate daemon
PATH_TO_STORAGE = storage/app/account/

# To work with Laravel
#PATH_TO_STORAGE = /home/storage/app/account/

ACCOUNT_RECALCULATOR_HOST  = localhost
ACCOUNT_RECALCULATOR_PORT  = 8077
ACCOUNT_RECALCULATOR_TOKEN = JZF8Z3ZQAAooDA
